<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!--여기 잇는 이 com.블라블라-->
<mapper namespace="com.example.boardPrac2.mapper.BoardMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND">
            <foreach collection="typeArr" item="type" separator="or">
                
                <if test="type =='T'.toString()">
                    ttl like CONCAT('%', #{keyword}, '%') <!-- '%'|| #{keyword}||'%' -->
                 </if>
                <if test="type =='C'.toString()">
                    cntnt like CONCAT('%', #{keyword}, '%')
                </if>
 

            </foreach>
        </trim>
    </sql>

<!-- 원본처럼 돌아가게하려면 테이블명만 tbl_board로 바꿔주면됨. -->
    <select id="searchTest" resultType="com.example.boardPrac2.dto.BoardDto">
         <![CDATA[
            select * from board
            where
                  ]]>
<include refid="criteria"></include>
        <![CDATA[ 
        @rownum < 10
        ]]> 
    </select>

    <select id="getListWithPaging" resultType="com.example.boardPrac2.dto.BoardDto">   
    select * from (
                select no, ttl, cntnt, rgdte  
                from board order by no asc) as T1 
    limit #{skip},#{amount}
    
         
    </select>
    
    <select id="getTotalCount" resultType="int">
        select count(no) from board
        where
        <include refid="criteria"></include>
        no > 0
           
    </select>


    <select id="getFileBoardList" resultType="com.example.boardPrac2.dto.BoardDto">
        SELECT *
        FROM board
        ORDER BY no
    </select>

    <select id="fileBoardDetail" parameterType="int" resultType="com.example.boardPrac2.dto.BoardDto">
        SELECT *
        FROM board
        WHERE no = #{no}
    </select>

    <insert id="fileBoardInsert" parameterType="com.example.boardPrac2.dto.BoardDto" keyProperty="no">
        INSERT INTO board ( ttl, cntnt, rgdte)
        VALUES ( #{ttl}, #{cntnt},now())
    </insert>

    <update id="fileBoardUpdate" parameterType="com.example.boardPrac2.dto.BoardDto">
        update board set
        ttl=<if test="ttl != null">#{ttl}</if>,
        cntnt=
        <if test="cntnt != null">#{cntnt}</if>
        where no=#{no} 

    </update>
    <delete id="fileBoardDelete" parameterType="int">     
        DELETE
        FROM board
        WHERE no = #{no}
    </delete>

<!--    파일 업로드 -->
<!-- 원본
    <insert id="fileInsert" parameterType="com.example.boardPrac2.dto.FileVO">
        <selectKey keyProperty="b_no" resultType="int" order="BEFORE">
            SELECT MAX(b_no)
            FROM tbl_board
        </selectKey>

        insert into file_board (b_no,fileName,fileOriginName,fileUrl,uploadDate)
        values(#{b_no},#{fileName},#{fileOriginName},#{fileUrl},NOW())

    </insert> -->

 <!-- 파일 업로드 내용 추가 -->  
 <!-- 원본
  <insert id="fileInsert" parameterType="com.example.boardPrac2.dto.FileVO">
    <selectKey keyProperty="b_no" resultType="int" order="BEFORE">
      SELECT MAX(b_no)
      FROM tbl_board
    </selectKey>
    INSERT INTO file_board(b_no, fileName, fileOriginName, fileUrl,uploadDate) 
    VALUES(#{b_no}, #{fileName}, #{fileOriginName}, #{fileUrl},now())
  </insert> -->
  
  
  <insert id="fileInsert" parameterType="com.example.boardPrac2.dto.FileVO">
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT MAX(no)
      FROM board
    </selectKey>
    INSERT INTO file_keep(no, FL_NM, FL_URL, FL_ORI_NM) 
    VALUES(#{no}, #{FL_NM}, #{FL_URL}, #{FL_ORI_NM} )
  </insert> 

<!--    파일 다운로드-->
<!-- 원본 
    <select id="fileDown" parameterType="int" resultType="com.example.boardPrac2.dto.FileVO">
         select *
        from file_board
        where b_no = #{b_no}  -->
        
        <!-- SELECT 
		fileName,
		fileOriginName
		FROM file_board
		WHERE b_no = #{b_no} -->
    <!-- </select>-->
    
	<select id="fileDown" parameterType="int" resultType="com.example.boardPrac2.dto.FileVO">
         select *
        from file_keep
        where no = #{no}  
	</select>

</mapper>