<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!--여기 잇는 이 com.블라블라-->
<mapper namespace="com.example.boardPrac2.mapper.BoardMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND">
            <foreach collection="typeArr" item="type" separator="or">
               <!--  <if test="type =='T'.toString()">
                    title like CONCAT('%', #{keyword}, '%')원본 --> <!-- '%'|| #{keyword}||'%' -->
                <!-- </if>
                <if test="type =='C'.toString()">
                    content like CONCAT('%', #{keyword}, '%')
                </if>
                <if test="type =='W'.toString()">
                    writer like CONCAT('%', #{keyword}, '%')
                </if>  원본 -->
                
                <if test="type =='T'.toString()">
                    ttl like CONCAT('%', #{keyword}, '%') <!-- '%'|| #{keyword}||'%' -->
                 </if>
                <if test="type =='C'.toString()">
                    cntnt like CONCAT('%', #{keyword}, '%')
                </if>
                <!-- <if test="type =='W'.toString()">
                    writer like CONCAT('%', #{keyword}, '%')
                </if> 필요없음--> 

            </foreach>
        </trim>
    </sql>

<!-- 원본처럼 돌아가게하려면 테이블명만 tbl_board로 바꿔주면됨. -->
    <select id="searchTest" resultType="com.example.boardPrac2.dto.BoardDto">
         <![CDATA[
            select * from board
            where
                  ]]>
<include refid="criteria"></include>
        <![CDATA[ 
        @rownum < 10
        ]]> 
    </select>

    <select id="getListWithPaging" resultType="com.example.boardPrac2.dto.BoardDto"><!-- /* index_asr(file_board pk_board)   */ -->
        <!--  <![CDATA[
    select * from (
          select /*+ index_asr(file_board pk_board)   */ @rownum rn, b_no, title, WRITER, reg_date
          from tbl_board
          where    ]]>
        <include refid="criteria"></include>
        <![CDATA[       B_NO > 0 and @ROWNUM <= (#{pageNum} * #{amount})
      ) test
    where rn > (#{pageNum}-1) * #{amount}
        ]]>   -->
	
	<!-- select * from (
                select b_no, title, writer, reg_date  
                from tbl_board order by b_no asc) as T1 
    limit #{skip},#{amount} 원본 b_no,  -->
    
    select * from (
                select no, ttl, cntnt, rgdte  
                from board order by no asc) as T1 
    limit #{skip},#{amount}
    
         
    </select>
    
    <select id="getTotalCount" resultType="int">
        <!-- select count(b_no) from tbl_board
        where
        <include refid="criteria"></include>
        b_no > 0 원본-->
        
        select count(no) from board
        where
        <include refid="criteria"></include>
        no > 0
           
    </select>


    <select id="getFileBoardList" resultType="com.example.boardPrac2.dto.BoardDto">
        <!-- SELECT *
        FROM tbl_board
        ORDER BY b_no 원본 -->
        
        SELECT *
        FROM board
        ORDER BY no
    </select>

    <select id="fileBoardDetail" parameterType="int" resultType="com.example.boardPrac2.dto.BoardDto">
        <!-- SELECT *
        FROM tbl_board
        WHERE b_no = #{b_no} 원본-->
        
        SELECT *
        FROM board
        WHERE no = #{no}
    </select>

    <insert id="fileBoardInsert" parameterType="com.example.boardPrac2.dto.BoardDto" keyProperty="no">
        <!-- INSERT INTO tbl_board ( title, content, writer, reg_date)
        VALUES ( #{title}, #{content}, #{writer}, NOW())  원본-->
        
        INSERT INTO board ( ttl, cntnt, rgdte)
        VALUES ( #{ttl}, #{cntnt},now())
    </insert>

    <update id="fileBoardUpdate" parameterType="com.example.boardPrac2.dto.BoardDto">

        <!-- update tbl_board set
        title=<if test="title != null">#{title}</if>,
        content=
        <if test="content != null">#{content}</if>
        where b_no=#{b_no} 원본 -->
        
        update board set
        ttl=<if test="title != null">#{ttl}</if>,
        cntnt=
        <if test="content != null">#{cntnt}</if>
        where no=#{no} 

    </update>
    <delete id="fileBoardDelete" parameterType="int">
        <!-- DELETE
        FROM tbl_board
        WHERE b_no = #{b_no} 원본-->
        
        DELETE
        FROM board
        WHERE no = #{no}
    </delete>

<!--    파일 업로드 -->
<!-- 원본
    <insert id="fileInsert" parameterType="com.example.boardPrac2.dto.FileVO">
        <selectKey keyProperty="b_no" resultType="int" order="BEFORE">
            SELECT MAX(b_no)
            FROM tbl_board
        </selectKey>

        insert into file_board (b_no,fileName,fileOriginName,fileUrl,uploadDate)
        values(#{b_no},#{fileName},#{fileOriginName},#{fileUrl},NOW())

    </insert> -->

 <!-- 파일 업로드 내용 추가 -->  
 <!-- 원본
  <insert id="fileInsert" parameterType="com.example.boardPrac2.dto.FileVO">
    <selectKey keyProperty="b_no" resultType="int" order="BEFORE">
      SELECT MAX(b_no)
      FROM tbl_board
    </selectKey>
    INSERT INTO file_board(b_no, fileName, fileOriginName, fileUrl,uploadDate) 
    VALUES(#{b_no}, #{fileName}, #{fileOriginName}, #{fileUrl},now())
  </insert> -->
  
  
  <insert id="fileInsert" parameterType="com.example.boardPrac2.dto.FileVO">
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT MAX(no)
      FROM board
    </selectKey>
    INSERT INTO file_keep(no, FL_NM, FL_URL) 
    VALUES(#{no}, #{FL_NM}, #{FL_URL})
  </insert> 

<!--    파일 다운로드-->
<!-- 원본 
    <select id="fileDown" parameterType="int" resultType="com.example.boardPrac2.dto.FileVO">
         select *
        from file_board
        where b_no = #{b_no}  -->
        
        <!-- SELECT 
		fileName,
		fileOriginName
		FROM file_board
		WHERE b_no = #{b_no} -->
    <!-- </select>-->
    
	<select id="fileDown" parameterType="int" resultType="com.example.boardPrac2.dto.FileVO">
         select *
        from file_keep
        where no = #{no}  
	</select>

</mapper>