<<<<<<< HEAD
@charset "UTF-8";
=======
>>>>>>> d7277bcefc37cfe8ee46f5a70b084b317a32af42
.self-custom-mgbt-theo{
    margin-bottom: 20px;
}
.self-custom-mgtp-theo{
    margin-top: 20px;
<<<<<<< HEAD
}
.self-custom-navbar-kyle{
	padding-top:50px;
	width:100%;
}
=======
}
>>>>>>> d7277bcefc37cfe8ee46f5a70b084b317a32af42
