<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="month_modon_increment" width="300px" height="300px"></canvas>
                </h5>
            </div>
            <div class="card-footer">월간 누적 모돈 수(Month_modon_increment)</div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="month_ekape_increment" width="300px" height="300px"></canvas>
                </h5>
            </div>
            <div class="card-footer">월간 누적 출하두수(Month_ekape_increment)</div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="month_total_increment" width="300px" height="300px"></canvas>
                </h5>
            </div>
            <div class="card-footer">월간 누적 데이터건수(Month_total_increment)</div>
        </div>
    </div>
</div>