<h2>누적 표 조회</h2>
		<form action="DetailSearch">
			<div class="position-relative">
				<select aria-label="Default select example" id="GraphChoice" name="GraphChoice">
					<option selected value="표0">-----선택-----</option>
					<option value="표1">일간 누적 표</option>
					<option value="표2">주간 누적 표</option>
					<option value="표3">월간 누적 표</option>
				</select> 
				
				<input type="date" id="FirstDate" name="FirstDate"> <label>~</label> <input type="date" id="SecondDate" name="SecondDate">
				<button type="submit" class="btn btn-dark">조회</button>
				<button type="reset" class="btn btn-dark">리셋</button>
				
			</div>
		</form>