<!-- 토탈 데이터 -->
<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-header" style="font-size: 0.9rem;font-weight: bold;">총 누적 모돈 수</div>
            <div class="card-body" style="padding-bottom: 2px;padding-top: 7px;">
                <h5 class="card-title custom-font-theo" id="dmiTotal"
                    th:text="${all.hits.hits[0]._source.daily_modon_increment}">
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header" style="font-size: 0.9rem;font-weight: bold;">총 누적 출하두수</div>
            <div class="card-body" style="padding-bottom: 2px;padding-top: 7px;">
                <h5 class="card-title custom-font-theo" id="deiTotal"
                    th:text="${all.hits.hits[0]._source.daily_ekape_increment}">
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header" style="font-size: 0.9rem;font-weight: bold;">총 누적 데이터건수</div>
            <div class="card-body" style="padding-bottom: 2px;padding-top: 7px;">
                <h5 class="card-title custom-font-theo" id="dtiTotal"
                    th:text="${all.hits.hits[0]._source.daily_total_increment}">
                </h5>
            </div>
        </div>
    </div>
</div>