<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="month_modon_increment" width="380px" height="200px"></canvas>
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="month_ekape_increment" width="380px" height="200px"></canvas>
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="month_total_increment" width="380px" height="200px"></canvas>
                </h5>
            </div>
        </div>
    </div>
</div>