<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 id="week_mdn_inc_chart_box" class="card-title">
                    <canvas id="week_modon_increment" width="380px" height="200px"></canvas>
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 id="week_ekp_inc_chart_box" class="card-title">
                    <canvas id="week_ekape_increment" width="380px" height="200px"></canvas>
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 id="week_ttl_inc_chart_box" class="card-title">
                    <canvas id="week_total_increment" width="380px" height="200px"></canvas>
                </h5>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="week_data_length" th:value="${#lists.size(week.aggregations.aggWeek.buckets)}">