<div class="input-group mb-3" style="margin-top: 1rem !important; margin-bottom: 0.5rem !important; font-size: 0.8rem !important; width: 591px;">
	<input type="text" id="GraphChoice" value="월간 누적 표" style="display: inline-block;" readonly>
	<input type="date" class="form-control me-2" id="FirstDate" style="display: inline-block; font-size: 0.8rem !important;" name="FirstDate">
	<label>~</label> 
	<input type="date" class="form-control me-2" id="SecondDate" style="display: inline-block; font-size: 0.8rem !important;" name="SecondDate">
	<button class="btn btn-outline-success" id="chartSearch" style="display: inline-block; font-size: 0.8rem !important;" type="submit">조회</button>
</div>

<script src="/js/self-custom-monthgraphcheck.js"></script>
