<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="week_modon_increment" width="300px" height="300px"></canvas>
                </h5>
            </div>
            <div class="card-footer">주간 누적 모돈 수(Week_modon_increment)</div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="week_ekape_increment" width="300px" height="300px"></canvas>
                </h5>
            </div>
            <div class="card-footer">주간 누적 출하두수(Week_ekape_increment)</div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="week_total_increment" width="300px" height="300px"></canvas>
                </h5>
            </div>
            <div class="card-footer">주간 누적 데이터건수(Week_total_increment)</div>
        </div>
    </div>
</div>