<div class="row self-custom-mgtp-theo">
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="daily_modon_increment" width="300px" height="300px"></canvas>
                </h5>
            </div>
            <div class="card-footer">일간 누적 모돈 수(Daily_modon_increment)</div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="daily_ekape_increment" width="300px" height="300px"></canvas>
                </h5>
            </div>
            <div class="card-footer">일간 누적 출하두수(Daily_ekape_increment)</div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <canvas id="daily_total_increment" width="300px" height="300px"></canvas>
                </h5>
            </div>
            <div class="card-footer">일간 누적 데이터건수(Daily_total_increment)</div>
        </div>
    </div>
</div>