<div class="input-group mb-3" style="margin-top: 1rem !important; margin-bottom: 0.5rem !important; font-size: 0.8rem !important; width: 495px;">
	<input type="text" class="input-group-text" id="GraphChoice" text-ailgn="center" value="일간 누적 표" style="width: 100px; text-align:center; height: 31px; font-size: 0.8rem !important; font-weight: 700;" readonly>
	<input th:if="${conditionD.toString().equals('daily')}" th:value="${firstDateD}" type="date" class="form-control me-2" id="FirstDate" name="FirstDate" style="font-size: 0.8rem !important; height: 31px; margin-left: 8px;">
	<input th:unless="${conditionD.toString().equals('daily')}" type="date" class="form-control me-2" id="FirstDate" name="FirstDate" style="font-size: 0.8rem !important; height: 31px; margin-left: 8px;">
	<label>~</label>
	<input th:if="${conditionD.toString().equals('daily')}" th:value="${endDateD}" type="date" class="form-control me-2" id="SecondDate" name="SecondDate" style="font-size: 0.8rem !important; height: 31px; margin-left: 8px;">
	<input th:unless="${conditionD.toString().equals('daily')}" type="date" class="form-control me-2" id="SecondDate" name="SecondDate" style="font-size: 0.8rem !important; height: 31px; margin-left: 8px;">
	<button class="btn btn-outline-success" id="chartSearchD" type="submit" style="font-size: 0.8rem !important; width: 65px; height: 30px;">조회</button>
</div>
<script src="/js/self-custom-graphcheck.js"></script>
