<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"> </script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['title', '누적 모돈 수'],
    ['월요일',  2130],
    ['화요일',  2240],
    ['수요일',  2340],
    ['목요일',  2480],
    ['금요일',  2594],
    ['토요일',  2784],
    ['일요일',  2843],
  ]);

  var options = {
    title: '누적 모돈 수',
    curveType: 'function',
    legend: { position: 'bottom' }
  };

  var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

  chart.draw(data, options);
}
</script>
</head>
<body>
dddㅇㅇㅇ
</body>
</html>