<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일게시판 - 상세페이지</title>
</head>

<body>
<div>
    <div style="padding: 10px; text-align: center;">
            <!--   th:href="@{/fileBoard/list}" 이는 타임리프틔 URL 링크 표현 방식이다.    -->
        <h1><a th:href="@{/}" style="text-decoration: none;">게시판 상세보기</a></h1>
    </div>
			<div>
        <div>
            <h4 style="font-weight: bolder;">상세내용</h4>
            <br>
			<form role="form" th:object=${detail} th:action="@{/}"  method="post">
                <div>

                    <label style="font-weight: bolder;">제목</label>

                    <p th:text="${detail.ttl}"></p>
                    <input type="hidden" th:field="${detail.ttl}">
                </div>
                <div>
                    <label style="font-weight: bolder;">작성일자</label>
                    <p th:text="${#dates.format(detail.rgdte, 'yyyy-MM-dd')}" style="cursor: pointer;"></p>
                    <!-- <p th:text="${detail.rgdte}"></p> -->
                </div>
                <div>
                    <label style="font-weight: bolder;">첨부파일</label>
                    <p>
                        <a th:if="${files}" th:href="@{/fileDown/{no}(no=${files.no})}">
                           <span th:text="${files.FL_ORI_NM}"></span>
                        </a>
                    </p> 
                </div>
                <!-- 
                <div th:each="list : ${board.fileList}">
					<a style="float:left" th:href="@{/board/downloadBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName}(${list.fileSize} kb)|"></a>
					<input type="button" id="delete_file" th:value="파일삭제" th:onclick="|location.href='@{/board/deleteBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}'|">
				</div> -->
				
                <div>
                    <label for="" style="font-weight: bolder;">내용</label>
                    <p th:text="${detail.cntnt}"></p>
                    <input type="hidden" th:field="${detail.cntnt}">
                </div>


                <!--  th:value="${item.id}" == 모델에 있는 정보를 획득하고 프로펄티 접근법으로 출력한다.
                                   value 속성을  th:value속성으로 변경
                      th:formaction  = 버튼 태그의 formation 속성은 form data가 서버로 제출 될 때 도착할 URL 의미
                                        type 속성이 submit인 경우에만 사용 가능.
                                   -->
                <div style="text-align: right;">
                    <input type="submit" th:value="목록" th:formaction="@{/}">
                    <input type="submit" th:value="수정" th:formaction="@{/edit/{no}(no=${detail.no})}">
                    <input type="submit" th:value="삭제" th:formaction="@{/delete/{no}(no=${detail.no})}">
                </div>
            </form>

        </div>

    </div>

    <br/><br/><br/>

</div>
</body>
</html>