<!DOCTYPE html>

<!--우선 view단에서 타임리프를 사용하겠다는 강력한 의지를 보여준다! 이 의지가 없으면, 타임리프 문법을 사용할 수 없다.-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>파일게시판 - 글작성</title>
</head>

<body>
<div>
    <div style="padding: 10px; text-align: center;">
        <h1><a th:href="@{/}" style="text-decoration: none;">게시글작성</a></h1>
    </div>

    <div>
        <form role="form" th:object=${boardDto} th:action="@{/writeSub}"
              method="post" enctype="multipart/form-data">
            <div>
                <label for="ttl" style="font-weight: bolder;">제목</label>
                <input type="text" th:field="*{ttl}" id="ttl" name="ttl"
                       placeholder="제목을 입력하세요">
            </div>
      
            <div style="font-weight: bolder;">
                <label for="cntnt">내용</label><br/>
                <textarea th:field="*{cntnt}" id="cntnt" name="cntnt" rows="15" cols="50"
                          placeholder="내용을 입력하세요"></textarea>
            </div>
            <div>
                <input type="file" name="files">
            </div>
            <div style="text-align: right;">
                <input type="submit" th:value="목록" th:formaction="@{/}">
                <input type="submit" th:value="작성" >
                <input type="reset" th:value="취소" th:formaction="@{/}" >
            </div>
        </form>
    </div>
    <br/><br/><br/>
</div>

</body>
</html>